@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-heading-family: "Lato", Assistant, sans-serif;
    --font-heading-scale:0.9;
    --font-heading-weight: 400;
    --font-body-family: "Lato", "Avenir Next", sans-serif;
    --font-body-style: normal;
    --font-body-weight: 400;
    --font-body-weight-bold: 700;
    --font-body-scale: 1.0;
}

body{
    font-size: 1.5rem;
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: var(--font-body-weight);
    line-height: calc(1 + 0.8 / var(--font-body-scale));
}

h2 {
    font-size: calc(var(--font-heading-scale)* 2rem);
    font-family: var(--font-heading-family);
    font-weight: var(--font-heading-weight);
}

strong {
    font-weight: 700;
}

.section-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
    margin: 1rem 0;
}

.image-grid-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 0;
    width: 100%;
    max-width: 100vw;
}

.image-grid-section a {
    display: block;
}

.image-grid-section img {
    width: 100%;
    height:auto;
    display: block;
}